@charset "utf-8";
/* 레고랜드 태블릿 */
/* * {
    outline: 1px solid gray;
} */

body {
    min-width: 100%;
}

.nav01 {
    width: 850px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navt {
    width: 650px;
}

.nav02 ul.navt > li {
    font-size: 22px;
}

.navsub {
    font-size: 17px;
}

.navsub > li {
    line-height: 45px;
    background-color: #FFF0AF;
}

/* 메뉴바 호버 */

.navt > li:hover .navsub {
    height: 180px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}






/* 상단 */
.mianinner {
    width: 100%;
    height: 350px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pp/img/운영시간/screen-shot-2021-12-09-at-2-03-32-pm.png) no-repeat no-repeat 50% 50% / cover;
}

.maintext {
    width: 850px;
}



/* 달력섹션 */

.opertitle {
    width: 100%;
    margin: 0 auto;
}

h3 {
    width: 100%;
}


table {
    width: 100%;
}


tbody > tr > td {
    width: 146.14px;
}


/* 슬라이드버튼 */
.swiper-button-prev{
    left: 25%;
    top: 100px;
}

.swiper-button-next {
    right: 25%;
    top: 100px;   
}




/* 푸터 */

.guid {
    width: 850px;
    margin: 0 auto;
    gap: 20px;
}

.gd00 a.gdicon01, .gdicon02, .gdicon03, .gdicon04 {
    width: 70px;
    height: 70px;
}

.gd00 {
    gap: 10px;
}

.gd00 .text {
    font-size: 24px;
    line-height: 28px;
    width: 95px;
    white-space: normal;
    text-align: center;
    color: #636363;  
}

.ha {
    width: 850px;
}