@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gothic A1', sans-serif;
    /* outline: 1px solid gray; */
}

* li{list-style:none}

body {
    min-width: 1200px;
}

a:link,
a:visited {
    text-decoration: none;
}

.nav01 {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav01 {
    height: 100px;
}

.nav01 a.logo {
    width: 128.04px;
    height: 55px;
    display: block;
    text-indent: -500px;
    overflow: hidden;
    background: url(/pp/img/top/llkr_8mm-flag_alternate_wht-yelo-sun.png) no-repeat 50% 50% / 100%; 
}


/* 메뉴바 */

.nav02 {
    display: flex;
    align-items: center;
    height: 100%;
}

.navt {
    width: 800px;
    display: inherit;
    justify-content: flex-end;
    height: 100%;
}

.nav02 ul.navt li a {
    color: #000000;
}

.nav02 ul.navt > li {
    font-size: 22px;
    margin: 0;
    position: relative;
    color: #000000;
    white-space: nowrap;
}

/* .nav02 ul.navt {
    display: inherit;
    height: 100%;
} */
  
.navt > li {
    width: 25%; /*20*5=100%*/
    float: right;
    text-align: center;
    line-height: 100px;
}
  
.navt a {
    color: #565656;
}
  
.navsub > li {
    line-height: 50px;
    background-color: #FFF0AF;
}
  
.navsub {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
    font-size: 18px;
}

/* 메뉴바 호버 */
.navt > li:hover {
    border-bottom: 3px solid #FFCF00;
}

.nav02 ul > li > a:hover {
    color: #D01012;
}
  
.navt > li:hover .navsub {
    height: 200px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;
}

/* 모바일 메뉴 */
.header{
    width: 100%;
    height: 50px;
    background: #fff;
}
.menu_btn{
    text-align: right;
    padding: 10px;
}

.sidebar_menu{
    display: none;
    width: 50%;
    height: 100%;
    background: #FFF0AF;
    position: absolute;
    top:0;
    right: -50%;
    z-index: 100000;
    
}
.close_btn{
    width: 25px;
    height: 25px;
    margin:10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;   
}


/* 모바일메뉴 커스텀 */

.menu_wrap > li > a {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu_wrap li {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navsub2 li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.mianinner {
    width: 100%;
    height: 350px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pp/img/레고_일러스트/어트랙션\ 상단이미지.png) no-repeat 50% 50% / cover;
}

.maintext {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 68px;
    line-height: 82px;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.maintext p {
    font-weight: 250;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
}

.secondinner {
    width: 100%;
    height: 1670px;
}

.bigatboxs {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding-top: 71px;
}

.atboxs {
    display: flex;
    justify-content: space-between;
}

.at01 {
    width: 370px;
    height: 480px;
    border: 1px solid #8C8C8C;
}

.at01 img {
    width:100%;
    height:187.83px;
    display: block;
}

.at01txt {
    width:100%;
    height:292.17px;
    padding: 20px 35px 32.17px 35px;
    display: flex;
    flex-direction: column;
}

.at01txt h2 {
    font-family: 'Bowlby One SC';
    font-size: 27.5px;
    line-height: 33px;
    margin-bottom: 10px;
    letter-spacing: 0.05em;
}

.attxtsub {
    height: 187px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}

.at01txt p {
    font-size: 18px;
    line-height: 22px;
    color: #8C8C8C;
}

.attxtsub0 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    padding-left: 235px;
}

.more {
    width: 65px;
    height: 30px;
    border: 1px solid #BDBDBD;
    text-align: center;
    padding: 7.5px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
}

.more:hover {
    border: 1px solid #D01012;
    color: #D01012;
}














footer {
    height: 250px;
    background-color: #565656;
    background-image: url(/pp/img/기타_일러스트/footer-silhouette_1.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 30px 0 0 0px;
}

.ha {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.igmn2 {
    display: flex;
    justify-content: space-between;
}

.igmn > nav {
    margin-bottom: 25px;
}

.igmn  > span {
    font-size: 16px;
    color:#8C8C8C;
    margin-bottom: 10px;
}

.igmn2  > p {
    font-size: 14px;
    line-height: 18px;
    color: #8C8C8C;
    margin-top: 10px;
}

.igmn  > nav > a {
    font-size: 25px;
    line-height: 31px;
    color:#8C8C8C;
    margin-right: 76px;
}

.igmn  > nav > a:hover {
    color:#FFFFFF;
}

.bticon {
    display: flex;
}

.bticon .sns01 {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -500px;
    overflow: hidden;
    background: url(/pp/img/bottom/instagram.svg) no-repeat 50% 50% / 100%;
    margin-left: 10px;
    margin-top: 20px;
}

.bticon .sns02 {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -500px;
    overflow: hidden;
    background: url(/pp/img/bottom/facebook.svg) no-repeat 50% 50% / 100%;
    margin-left: 10px;
    margin-top: 20px;
}

.bticon .sns03 {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -500px;
    overflow: hidden;
    background: url(/pp/img/bottom/naverblog.svg) no-repeat 50% 50% / 100%;
    margin-left: 10px;
    margin-top: 20px;
}