@charset "utf-8";
/* 레고랜드 모바일 */

/* * {
    outline: 1px solid gray;
} */

body {
    min-width: 100%;
}

.nav01 {
    width: 320px;
    height: 80px;
}

.nav01 a.logo {
    width: 100px;
    height: 55px;
    background: url(/pp/img/top/llkr_8mm-flag_alternate_wht-yelo-sun.png) no-repeat 50% 50% / 90%; 
}


/* 메뉴바 */

.navt {
    width: 0px;
    height: 0px;
    overflow: hidden;

}


/* 모바일 메뉴 */
.header{
    width: 100%;
    height: 50px;
    background: #fff;
}
.menu_btn{
    text-align: right;
    padding: 10px;
}

.sidebar_menu{
    display: none;
    width: 50%;
    height: 100%;
    background: #FFF0AF;
    position: absolute;
    top:0;
    right: -50%;
    z-index: 100000;
    
}
.close_btn{
    width: 25px;
    height: 25px;
    margin:10px;
}
.close_btn > a{
    display: block;
    width: 100%;
    height: 100%;
}
.menu_wrap{
    list-style: none;
    padding: 20px 20px;   
}


/* 모바일메뉴 커스텀 */

.menu_wrap > li > a {
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.menu_wrap li {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navsub2 li a {
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}




/* 내용 */
.mianinner {
    height: 180px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/pp/img/운영시간/screen-shot-2021-12-09-at-2-03-32-pm.png) no-repeat no-repeat 50% 50% / cover;
}

.maintext {
    width: 320px;
    height: 100%;
}

h1 {
    font-size: 33px;
    line-height: 50px;
    margin-bottom: 10px;
}

.maintext p {
    font-size: 12px;
    line-height: 28px;
}

/* 여기까지가 상단 */


/* 달력섹션 */

.orerclalendar {
    height: 550px;
}

.opertitle {
    width: 100%;
    margin: 0 auto;
}

h2 {
    padding: 40px 0 25px 0;
    font-size: 24px;
    line-height: 30px;
}

h3 {
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 4px;
}


table {
    width: 100%;
}

thead, tbody {
    width: 100%;
}

thead > tr > td {
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;    
}

tbody > tr > td {
    padding: 5px;
    width: 42px;
    height: 60px;
    font-size: 6px;
    line-height: 12px;
}


/* 슬라이드버튼 */
.swiper-button-prev{
    width: 30px;
    height: 30px;
    left: 20%;
    top: 60px;
}

.swiper-button-next {
    width: 30px;
    height: 30px;
    right: 20%;
    top: 60px;  
}



/* 푸터 */

footer {
    padding: 30px 0 0 0px;
    height: 320px;
    background-color: #565656;
    background-image: url(/pp/img/기타_일러스트/footer-silhouette_1.svg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.ha {
    width: 300px;
}

.igmn > nav {
    margin-bottom: 5px;
}

.igmn  > nav > a {
    font-size: 12px;
    line-height: 21px;
    margin-right: 10px;
}

.igmn  > span {
    font-size: 10px;
    margin-bottom: 10px;
    line-height:10%;
}

.igmn2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.igmn2  > p {
    font-size: 8px;
    line-height: 10px;
    margin-top: 0px;
}

.bticon .sns01 {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 20px;
}

.bticon .sns02 {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 20px;
}

.bticon .sns03 {
    width: 30px;
    height: 30px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 20px;
}
